<!DOCTYPE html>
<html>
<head>
	<title>fatch data</title>
</head>
<body>
	<center>
		<table border="4">
		<td colspan="2"><center><strong>django form</strong></center></td>
		<form method="post">
			
			<tr>
				<td>actor</td>
				<td><strong>{{actor}}</strong></td>
			</tr>
			<tr>
				<td>actor movie</td>
				<td><strong>{{actor_movie}}</strong></td>
			</tr>
			<tr>
				<td>genre</td>
				<td><strong>{{genre}}</strong></td>
			</tr>
			<tr>
				<td>movie logo</td>
				<td><strong>{{movie_logo}}</strong></td>
			</tr>
		</form>
		</table>
	</center>
</body>
</html>